<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new blog</title>
</head>
<body>
    <h2>Add new blog</h2>
    <form method="POST" action="/project2/blogs/add">
        <div>
            <input type="text">
        </div>
    </form>
</body>
</html>