<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/contactMain.css">
    <title>Contact | Divyanshu Dugar</title>
</head>
<body>
  <%- include('partials/navbar',{page:'/contact'}) %>

    <!-- MAIN CONTENT -->
      <main class="contactMain">
          <div class="image">
            <h2>Let's get in Touch!</h2>
            <img src="./Images/My-Picture.jpg" alt="myPic">
          </div>
          <div class="social-media">
            <a href="https://www.linkedin.com/in/divyanshu-dugar/" target="_blank"><img src="./Images/linkedin.png" alt=""></a>
            <a href="https://www.instagram.com/divyanshudugar.tech/" target="_blank"><img src="./Images/insta.svg" alt=""></a>
            <a href="mailto:divyu2004@gmail.com"><img src="./Images/email.png" alt=""></a>
          </div>
      </main>
</body>
</html>