<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/firstSection.css" />
    <link rel="stylesheet" href="/css/secondSection.css" />
    <link rel="stylesheet" href="/css/thirdSection.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <title>Divyanshu - Developer Portfolio</title>
  </head>
  <body>
    <%- include('partials/navbar',{page:'/'}) %>

    <!-- MAIN -->
    <main>
      <!-- SECTION - 1 -->
      <section class="firstSection">
        <div class="leftSection">
          Hi! My name is <span class="purple">Divyanshu</span>
          <div>and I am a passionate</div>
          <!-- Element to contain animated typing (type js) -->
          <span id="element"></span>
          <div class="buttons">
            <button class="resume-btn">Download Resume</button>
            <button class="btn">Visit GitHub</button>
          </div>
        </div>

        <div class="rightSection">
          <img src="/Images/1.jpg" alt="error" />
        </div>
      </section>

      <hr />

    <!-- SECTION - 2 -->
    <section class="secondSection">
      <span class="text-gray">What I have learned so far</span>
      <h1>Languages</h1>
          
      <div class="line">
    
        <div class="vertical">
          <img src="/Images/c.svg" alt="" class="image1" />
          <div class="vertical-title1">C</div>
          <div class="vertical-desc">
            I have a 2+ years of experience in working with this language. I have a good understanding of it's fundamental concepts including the concept of structure and pointers. I have also buit several games using C that includes (tic-tac-toe)
          </div>
        </div>
          
        <div class="vertical">
          <img src="/Images/c++.svg" alt="" class="image2" />
          <div class="vertical-title2">C++</div>
          <div class="vertical-desc">
              I have more than 3 years of experience in this language. I have a good grasp of major concepts of programming in this language that include DSA and OOP. I have made several projects using C++ and they include 
          </div>
        </div>
          
          <div class="vertical">
            <img src="/Images/java.svg" alt="" class="image3" />
            <div class="vertical-title3">Java</div>
            <div class="vertical-desc">
              This was my 1st language and I have been programming in Java since my  school days. Having done a lot of programming in this language I have a very good foundation in this language. This language also helped me understand the concept of OOP even better.
            </div>
          </div>
          
          <div class="vertical">
            <img src="/Images/js.svg" alt="" class="image4" />
            <div class="vertical-title4">JavaScript</div>
            <div class="vertical-desc">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta at illo eos natus pariatur quae, voluptas mollitia rerum eveniet nemo eum nihil reiciendis. Velit, nesciunt nobis quisquam natus enim ratione!
            </div>
          </div>

          <div class="vertical">
            <img src="/Images/python.svg" alt="" class="image5" />
            <div class="vertical-title5">Python</div>
            <div class="vertical-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Aspernatur, quasi, nemo itaque assumenda culpa quibusdam
              consequatur dicta excepturi, possimus corporis facere delectus
              fugiat libero eos? Eligendi excepturi similique soluta pariatur.
            </div>
          </div>      
        </div>
      </section>

      <!-- SECTION - 3 -->
      <section class="thirdSection">
        <h1>Web Development</h1>
        
        <div class="line">
          
          <div class="vertical">
            <img src="/Images/htmlCssJsLogo.jpg" alt="" class="img1" />
            <div class="title1">HTML | CSS | JS</div>
            <div class="desc1">
              This Website - My Portfolio has been created by myself using HTML, CSS and JS
            </div>
          </div>
          
          <div class="vertical">
            <img src="/Images/mongo.svg" alt="" class="img2" />
            <div class="title2">MongoDB</div>
            <div class="desc2">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Aspernatur, quasi, nemo itaque assumenda culpa quibusdam
              consequatur dicta excepturi, possimus corporis facere delectus
              fugiat libero eos? Eligendi excepturi similique soluta pariatur.
            </div>
          </div>
         
        <div class="vertical">
          <img src="/Images/js.png" alt="" class="img3" />
          <div class="title3">Express.js</div>
          <div class="desc3">
            I have been working with the Express framework for an year now! I have also modified this website from basic HTML, CSS, JS to use Express.
          </div>
        </div>
        
        <div class="vertical">
          <img src="/Images/react.svg" alt="" class="img4" />
          <div class="title4">React</div>
          <div class="desc4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, quasi, nemo itaque assumenda culpa quibusdam
            consequatur dicta excepturi, possimus corporis facere delectus
            fugiat libero eos? Eligendi excepturi similique soluta pariatur.
          </div>
        </div>
        
        <div class="vertical">
          <img src="/Images/nextjs.png" alt="" class="img5" />
          <div class="title5">NextJS</div>
          <div class="desc5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aspernatur, quasi, nemo itaque assumenda culpa quibusdam
            consequatur dicta excepturi, possimus corporis facere delectus
            fugiat libero eos? Eligendi excepturi similique soluta pariatur.
          </div>
        </div>      
      </div>
    </section>
    
  </main>
    <!-- FOOTER -->
    <footer>
      <div class="footer">
        <div class="footer-first">
          <h3>Thank you for visiting Divyanshu's Developer Portfolio!</h3>
        </div>
      </div>
        <div class="footer-rights">
          Copyright &#169; divyanshudugar.tech | All rights reserved
        </div>
      </footer>
      
      <!-- USING TYPED JS -->
      <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
      
      <script>
      var typed = new Typed("#element", {
        strings: [
          "Web Developer",
          "Data Analyst",
          "Content Creater",
          "Teacher",
          "Learner"
        ],
        typeSpeed: 50,
      });
    </script>

   <script src="/JS/index.js"></script>
  </body>
  </html>