<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/projects.css">
    <title>Projects | Divyanshu Dugar</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('partials/navbar',{page:'/projects'}) %>

      <!-- MAIN -->
      <main>
        <section class="firstSection">

        </section>
      </main>
</body>
</html>