h1{
    padding-top: 85px;
    text-align: center;
    margin: 20px;
    font-size: 2em;
    font-weight: 200;
}

.card{
    width: 50%;
    border: 2px solid white;
    margin: auto;
    margin-bottom: 20px;
}