.secondSection {
  height: 550px;
  margin-left: 20px;
  margin-right: 20px;
}

.text-gray {
  color: grey;
}

.secondSection h1 {
  font-size: 2rem;
}

.secondSection .line {
  background: white;
  height: 2px;
  margin: 100px 0px;
  display: flex;
  justify-content: space-around;
}

.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
}

.image1 {
  width: 70px;
  position: relative;
  top: -74px;
  left: -34px;
}

.image2 {
  width: 55px;
  position: relative;
  top: -70px;
  left: -28px;
}

.image3{
  width: 65px;
  position: relative;
  top: -72px;
  left: -33px;
  border-radius: 5px;
}

.image4{
  width: 60px;
  position: relative;
  top: -75px;
  left: -30px;
  border-radius: 5px;
}

.image5{
  width: 60px;
  position: relative;
  top: -68px;
  left: -30px;
  border-radius: 5px;
}

.vertical-title1 {
    position: relative;
    top: 20px;
    left: -6px;
}

.vertical-title2 {
    position: relative;
    top: 30px;
    left: -14px;
}

.vertical-title3 {
  position: relative;
  width: 80px;
  top: 28px;
  left: -20px;
}

.vertical-title4 {
  position: relative;
  width: 80px;
  top: 25px;
  left: -45px;
}

.vertical-title5 {
  position: relative;
  width: 80px;
  top: 28px;
  left: -20px;
}

.vertical-desc {
    position: relative;
    top: 34px;
    left: -65px;
    color: gray;
    width: 175px;
    font-size: 12px;
}