<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new blog</title>
</head>
<body>
    <h2>Add new blog</h2>
    <form method="POST" action="/project2/blogs/add">
        <div>
            <label for="name">Title: </label>
            <input id="name" type="text" name="name" placeholder="Enter the title of the blog">
        </div>

        <div>
            <label for="content">Content: </label>
            <input id="content" type="text" name="content" placeholder="Enter the description of the blog">
        </div>

        <button>Submit</button>
    </form>
</body>
</html>