<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Blog</title>
</head>
<body>
    <h2>Update <%=blog.name%></h2>
    <form method="POST" action="/project2/<%= blog.id %>?_method=PATCH">
        <div>
            <label for="name">Title: </label>
            <input id="name" type="text" name="name" value="<%=blog.name%>">
        </div>

        <div>
            <label for="content">Content: </label>
            <input id="content" type="text" name="content" value="<%=blog.content%>">
        </div>

        <button>Submit</button>
    </form>
</body>
</html>