.container{
    margin: 70px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.blogs{
    margin: 20px 0px;
}

.blogs img{
    width: 90vh;
}