.contactMain{
    height: 350px;
    width: 60vw;
    margin: 22vh auto;
    background-color: rgb(52, 52, 105);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image{ 
    text-align: center;
}

.image h2{
    font-size: 2em;
}

.image img{
    height: 150px;
    width: 150px;
    margin-top: 15px;
    border-radius: 50%;
}

.social-media{
    margin: 20px 0;
}

.social-media a{
    margin: 0 20px;
}

.social-media a img{
    width: 40px;
    
}

.social-media a img:hover{
    transform: scale(1.2);
}