/*  */

@media screen and (max-width: 1000px) {
    /* body{
        background-color: red;
    } */

    .firstSection{
        flex-direction: column-reverse;
    }

    .secondSection,.thirdSection{
        height: 1600px;
    }

    .secondSection .line, .thirdSection .line{
        flex-direction: column;
        margin-top: -1px;
    }

    .secondSection .vertical, .thirdSection .vertical{
        height: 500px;
        position: relative;
        top: 675px;
        left: 30px;
    }

    .vertical .vertical-title1,.vertical-title2,.vertical-title3,.vertical-title4,.vertical-title5,.title1, .title2, .title3, .title4, .title5{
        left: 40px;
    }

    .vertical .vertical-desc, .desc1, .desc2, .desc3, .desc4, .desc5{
        left: 40px;
    }

    .vertical .image1,.img1{
        top: 190px;
    }

    .vertical .image2{
        top: 170px;
    }

    .vertical .image3{
        top: 190px;
    }

    .vertical .image4{
        top: 180px;
    }

    .vertical .image5{
        top: 180px;
    }
}