/*  */

@media screen and (max-width: 1000px) {

    .firstSection{
        flex-direction: column-reverse;
        margin: 40px 0;
    }

    .firstSection .leftSection{
        width: 90%;
        text-align: center;
    }

    .buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .firstSection .buttons .btn,.resume-btn{
        width: 200px;
        margin: 5px 0;
    }

    .firstSection .rightSection{
        width: 50%;
        margin: 20px 0;
    }

    .secondSection,.thirdSection{
        height: 1550px;
    }

    .secondSection .line, .thirdSection .line{
        flex-direction: column;
        margin-top: 10px;
        width: 90vw;
    }

    .secondSection .vertical, .thirdSection .vertical{
        height: 500px;
        position: relative;
        top: 675px;
        left: 110px;
    }

    .thirdSection .vertical{
        height: 450px;
        position: relative;
        top: 700px;
        left: 110px;
    }

    .vertical .vertical-title1,.vertical-title2,.vertical-title3,.vertical-title4,.vertical-title5,.title1, .title2, .title3, .title4, .title5{
        left: 40px;
    }

    .vertical .vertical-desc, .desc1, .desc2, .desc3, .desc4, .desc5{
        left: 40px;
    }

    .vertical .image1{
        top: 190px;
    }

    .vertical .image2{
        top: 170px;
    }

    .vertical .image3{
        top: 190px;
    }

    .vertical .image4{
        top: 180px;
    }

    .vertical .image5{
        top: 180px;
    }

    .vertical .img1{
        width: 50px;
        top: 140px;
        left: -25px;
    }

    .vertical .img2{
        top: 140px;
    }

    .vertical .img3{
        width: 90px;
        top: 140px;
        left: -55px;
    }

    .vertical .img4{
        top: 150px;
        width: 80px;
        left: -40px;
    }

    .vertical .img5{
        top: 170px;
        width: 90px;
    }
}

@media screen and (max-width: 1000px){
    nav{
        width: 100vw;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100px;
    }

    nav ul li{
        margin: 6px;
    }
}